root = true

# All files
[*]
indent_style = space

# C# files
[*.cs]

# Indentation and spacing
indent_size = 4
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false

# Remove useless namespaces
dotnet_diagnostic.IDE0005.severity = error